*{
    padding: 0%; margin: 0%;
    font-family: 'Orbitron', sans-serif;
    color: #FFFFFF;
    background: #3e7015;
  }
    body{
    font-family: 'Orbitron', sans-serif;
    color:#FFFFFF;
    line-height: 60px;
    font-size: 16px;
  }
  .menu{
    display: flex;
    list-style: none;
    font-size: 16px;
    justify-content: center;
    align-items: stretch;
  }
  .menu li{
    margin-right: 60px;
    font-weight: 400;
    justify-content:space-between;
    position:relative;
    top: 20px;
  }
  .menu li a:hover{
    color: #FAC422;
  }
  .menu li a{
    color:#FFFFFF; text-decoration: none;
  }
  .buttonR{
    background-color: #107225;
    padding: 12px 20px;
    border: 1px solid #fff;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400px;
    user-select: none;
    position:relative;
    left: 340px;
    top: -5px
  }
  .buttonL{
    background-color: #107225;
    padding: 12px 20px;
    border: 1px solid #fff;
    font-size: 16px;
    line-height: 26px;
    font-weight: 400px;
    user-select: none;
    position:relative;
    left: 340px;
    top: -5px
  }
  .button-black{
    color: #FFFFFF;
    border-color: #ffffff;
    background-color: #57B8FF;
    box-sizing: border-box;
    border: #fffefe;
  }